<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
<h1 class="glow">Credit card fraud detection</h1>

 <div class="login">
	
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post"> 
        <input type="text" name="V1" placeholder="enter value of v1" required="required" />
	<input type="text" name="V2" placeholder="enter value of v2" required="required" />
	<input type="text" name="V3" placeholder="enter value of v3" required="required" />
        <input type="text" name="V4" placeholder="enter value of v4" required="required" />
	<input type="text" name="V5" placeholder="enter value of v5" required="required" />
	<input type="text" name="V6" placeholder="enter value of v6" required="required" />
	<input type="text" name="V7" placeholder="enter value of v7" required="required" />
        <input type="text" name="V8" placeholder="enter value of v8" required="required" />
	<input type="text" name="V9" placeholder="enter value of v9" required="required" />
	<input type="text" name="V10" placeholder="enter value of v10" required="required" />
        <input type="text" name="V11" placeholder="enter value of v11" required="required" />
	<input type="text" name="V12" placeholder="enter value of v12" required="required" />
	<input type="text" name="V13" placeholder="enter value of v13" required="required" />
        <input type="text" name="V14" placeholder="enter value of v14" required="required" />
	<input type="text" name="V15" placeholder="enter value of v15" required="required" />
	<input type="text" name="V16" placeholder="enter value of v16" required="required" />
        <input type="text" name="V17" placeholder="enter value of v17" required="required" />
	<input type="text" name="V18" placeholder="enter value of v18" required="required" />
	<input type="text" name="V19" placeholder="enter value of v19" required="required" />
        <input type="text" name="V20" placeholder="enter value of v20" required="required" />
	<input type="text" name="V21" placeholder="enter value of v21" required="required" />
	<input type="text" name="V22" placeholder="enter value of v22" required="required" />
        <input type="text" name="V23" placeholder="enter value of v23" required="required" />
	<input type="text" name="V24" placeholder="enter value of v24" required="required" />
	<input type="text" name="V25" placeholder="enter value of v25" required="required" />
        <input type="text" name="V26" placeholder="enter value of v26" required="required" />
	<input type="text" name="V27" placeholder="enter value of v27" required="required" />
	<input type="text" name="V28" placeholder="enter value of v28" required="required" />
	<input type="text" name="Amount" placeholder="Enter Amount" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Click ToStart Analysis</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
